$colors: (main-blue: #3498DB,
    secondary-blue: #5fafec,
    happy-blue: #169aff,
    deep-blue: #292E7C,
    dark-blue: #00263b,
    dark-gray: #232323,
    light-gray: #f3f3f6,
    green-accent-3: #00e676,
    light-green-accent-3: #76ff03,
    yellow-accent-3: #ffea00,
    gray-darken: #424242,
    deep-orange-accent-3: #ff3d00,
);


$text-aligns:(justify: justify,
    left: left,
    right: right,
    center: center);

$mobile: 600px;


@function color($color-name) {
    @return map-get($colors, $color-name)
}

;

@function textAlign($text-align) {
    @return map-get($text-aligns, $text-align)
}

;


@mixin mobile {
    @media (max-width : #{$mobile}) {
        @content;
    }
}


// Start 

html,
body {
    height: 100%;
    box-sizing: border-box;
    position: relative;
    margin: 0;
    min-height: 100%;

}

header {
    img {
        max-width: 90px;
    }
}


main {
    a.btn {
        background-color: color(main-blue)
    }

    a.btn:hover {
        background-color: color(happy-blue)
    }

    @include mobile {
        min-height: min(100%)
    }
}

main.multiple-question {

    [type="checkbox"]:checked+span:not(.lever):before {
        border-right: 2px solid color(happy-blue);
        border-bottom: 2px solid color(happy-blue)
    }
}



main.announcement_container {

    header img {
        max-width: max(120px);
    }

    section {
        text-align: textAlign(justify)
    }

    ul.ml-4 li {
        list-style-type: circle;
    }

    .flow_text {
        animation: flow 5s ease-in-out infinite;
        background: linear-gradient(-60deg, color(dark-blue), color(deep-blue), color(happy-blue), color(main-blue));
        background-size: 300%;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    @keyframes flow {
        0% {
            background-position: 0 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0 50%;
        }
    }


    @include mobile {

        header,
        div.btn_container {
            text-align: textAlign(center);
        }

        section {
            width: 100%;
            padding-right: 0px;
            padding-left: 0px;

            div {
                width: 100% !important;
                padding: 10px !important;
            }
        }

    }
}


footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: color(dark-blue);

    div p {
        font-size: 8px;
        font-style: oblique;
        color: color(light-gray);
        margin-bottom: 0px;
        margin-left: 40px;
    }

    div.logo_container {
        position: absolute;

        img {
            width: 75px;
            position: absolute;
            left: 20px;
            top: 14px;
            position: absolute;
        }

    }

    div.progress {
        background-color: color(light-gray);
        height: 5px;
        width: 30% !important;
        left: 35%;
        top: 22px;
        border-radius: 35px;

        div.determinate {
            background-color: color(happy-blue)
        }
    }

}