html,
body {
  height: 105%;
  min-height: 100%;
  margin: 0;
}

html .bg,
body .bg {
  background-image: url(../media/img/bg-pattern-light.png);
  background-size: cover;
  background-position: initial;
}

header img {
  max-width: 90px;
}

main section.btn-container {
  position: -webkit-sticky;
  position: sticky;
}

main section.btn-container a.btn {
  width: 130px;
}

@media (max-width: 600px) {
  main {
    min-height: 100%;
  }
  main video {
    width: 100%;
  }
}

main.announcement_container header img {
  max-width: 120px;
}

main.announcement_container section {
  text-align: justify;
}

main.announcement_container ul.ml-4 li {
  list-style-type: circle;
}

@media (max-width: 600px) {
  main.announcement_container header,
  main.announcement_container div.btn_container {
    text-align: center;
  }
  main.announcement_container section {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
  }
  main.announcement_container section div {
    width: 100% !important;
    padding: 10px !important;
  }
}

main.multiple-question form#multiple-question {
  margin-left: 50px;
}

main.multiple-question form#multiple-question ul li {
  display: block;
  float: left;
  width: 172px;
  height: 45px;
}

@media (max-width: 600px) {
  main.multiple-question form#multiple-question {
    margin-left: 0px;
  }
  main.multiple-question form#multiple-question ul li {
    width: 124px;
    margin-left: 16px;
  }
}

@media (min-width: 1700px) {
  main.multiple-question form#multiple-question {
    margin-left: 135px;
  }
  main.multiple-question form#multiple-question ul li {
    width: 150px;
    height: 45px;
  }
}

main.single-question form#single-question {
  margin-left: 135px;
}

main.single-question form#single-question p {
  display: inline-table;
  float: left;
  width: 210px;
}

@media (max-width: 600px) {
  main.single-question form#single-question {
    display: block;
    margin-left: 0px;
  }
  main.single-question form#single-question p {
    width: 0px;
  }
}

@media (min-width: 1700px) {
  main.single-question form#single-question {
    margin-left: 205px;
  }
}

main.dropdown-question section {
  width: 50%;
}

@media (max-width: 600px) {
  main.dropdown-question section {
    width: 95%;
  }
}

@media (max-width: 600px) {
  main.free-question h5 {
    font-size: 20px;
  }
}

main.matrix-question section tbody tr {
  border-bottom: 0px;
}

main.matrix-question section tr td.row-container {
  width: 47%;
  padding: 0px 70px 0px 0px;
}

main.matrix-question section td.group-container span.matrix-col-label {
  display: none;
}

@media (max-width: 600px) {
  main.matrix-question {
    padding-bottom: 100px;
  }
  main.matrix-question [type="radio"]:not(:checked) + span {
    top: 9px;
  }
  main.matrix-question thead.header-container {
    display: none;
  }
  main.matrix-question div.matrix-container h5 {
    margin-bottom: 0px !important;
    font-size: 19px;
  }
  main.matrix-question td.group-container {
    display: -webkit-inline-box;
    padding: 15px 0px;
    border: 3px solid #fff;
  }
  main.matrix-question td.group-container label span.matrix-col-label {
    display: inherit;
    font-size: 15px;
  }
  main.matrix-question tr.question-body {
    margin-top: 20px;
    margin-bottom: 40px;
    display: -ms-grid;
    display: grid;
  }
  main.matrix-question tr td.row-container {
    width: 100% !important;
    padding: 0 !important;
    width: 100%;
    padding: 15px 3px;
    background: #fff;
    font-size: 18px;
    font-weight: bold;
  }
  main.matrix-question tr td.row-container span {
    display: block;
    margin-bottom: 13px;
  }
}

main.satisfaction-question section tr {
  border-bottom: 0;
}

main.satisfaction-question section label i {
  font-size: 30px;
  cursor: pointer;
}

main.satisfaction-question section [type="radio"]:checked ~ i.fa-frown {
  color: #ff3d00;
}

main.satisfaction-question section [type="radio"]:checked ~ i.fa-meh {
  color: #ffea00;
}

main.satisfaction-question section [type="radio"]:checked ~ i.fa-grin {
  color: #00e676;
}

main.satisfaction-question section [type="radio"]:checked ~ i.fa-grin-beam {
  color: #76ff03;
}

main.satisfaction-question section [type="radio"]:checked ~ i.fa-meh-rolling-eyes {
  color: #424242;
}

main.final-container section {
  margin-top: 100px;
}

@media (max-width: 600px) {
  main.final-container section h2 {
    font-size: 30px;
  }
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #00263b;
}

footer div p {
  font-size: 8px;
  font-style: oblique;
  color: #f3f3f6;
  margin-bottom: 0px;
  margin-left: 40px;
}

footer div.logo_container {
  position: absolute;
}

footer div.logo_container img {
  width: 75px;
  position: absolute;
  left: 20px;
  top: 14px;
  position: absolute;
}

footer div.progress {
  background-color: #f3f3f6;
  height: 5px;
  width: 30%;
  left: 35%;
  top: 22px;
  border-radius: 35px;
}

footer div.progress div.determinate {
  background-color: #169aff;
}
/*# sourceMappingURL=app.css.map */