:root {
    --main-blue: #3498DB;
    --secondary-blue: #5fafec;
    --happy-blue: #169aff;
    --deep-blue: #292E7C;
    --dark-blue: #00263b;
    --dark-gray: #232323;
    --light-gray: #f3f3f6;
    --green-accent-3: #00e676;
    --light-green-accent-3: #76ff03;
    --yellow-accent-3: #ffea00;
    --gray-darken: #424242;
    --deep-orange-accent-3: #ff3d00;
}

.waves-effect {
    position: inherit !important;
}

.question_container {
    min-height: 100%;
    position: relative;
}

.block {
    display: block;
}


.underline {
    text-decoration: underline
}

.buttons_container {
    position: sticky;
}

.btn_border {
    border: 1px solid var(--happy-blue) !important;
    color: var(--happy-blue) !important;
    background: transparent !important;
}

.f-20 {
    font-size: 20px;
}


/* Navigation bar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0 var(--light-gray);
    border-radius: 0px;
}

::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 10px;
}


::-webkit-scrollbar-thumb:hover {
    background: var(--light-gray);
}









@media only screen and (max-width: 600px) {

    /* Announcement */




    .announcement_container>div.container>h2 {
        font-size: 44px;
    }


    div.btn_container {
        text-align: center;
    }

    /* Multiple question */
    .inline {
        display: inline-flex !important;
    }

    /* Matrix */

    div.matrix-container>h5.header {
        margin-bottom: 0px !important;
        font-size: 19px
    }

    thead.header-container {
        display: none;
    }

    tr.question-body {
        display: grid;
        margin-top: 20px;
    }

    tr>td.row-container {
        width: 100%;
        padding: 15px 3px;
        background: white;
        font-size: 18px;
        font-weight: bold;
    }

    td.group-container {
        display: -webkit-inline-box;
        padding: 15px 0px;
        border: 3px solid white;
    }

    td.group-container>label>span.matrix-col-label {
        display: inherit;
        font-size: 15px;
        color: whi
    }


    [type="radio"]:not(:checked)+span {
        top: 7px;
    }

    /* Final */
    .final_container>div.pt-5.px-5 {
        padding: 0px !important;
        margin: 0px !important;
    }

    .bg {
        background-size: auto;
        padding-bottom: 20px;
    }

    /* Footer */
    footer>div.logo_container>p {
        margin-left: 32px;
    }

    footer>div.logo_container>img {
        width: 62px;
        left: 14px;
        top: 18px;
    }


}